* {
	padding: 0; margin: 0;	
}

html {
	height: 100 ;	
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Tah {
	float: center;
	color:#094067;
	padding-left: 30% ;
	padding-top: 3% ;
	font-size: 30px;
	font-weight: bold;
	height: 15px;
}

#Tah a{
	text-decoration: none;
	color: #094067;
}

#Lets_Start_a_Project {
	float: right;
	padding-right: 15% ;
	font-size: 14px;
	font-weight: medium;
	color: #3DA9FC;
	text-decoration: underline;
}

.nav {
	float: left;
	padding-left: 10%;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	color: #094067;

	/* The navigation bar */
	overflow: hidden;
	position: fixed; /* Set the navbar to fixed position */
}  
  /* Links inside the navbar */
/* .navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
} */

.nav a{
	text-decoration: none;
	color: #094067;
}

#Digital_Designer__Developer {
	color: #094067;
}

#Projects {
	padding-top: 20%;
}

#About_Me {
	padding-top: 20%;
}

#Soon {
	padding-top: 20%;
}

.center_content {
	font-size: 55px;
	color: #094067;
	font-weight: bold;
	padding-top: 10%;
	padding-left: 30%;
}

#circuit-1 img{
	position: absolute;
	height: 70%;
	width: auto;
	z-index: -10;
	padding-left: 26%;
	top: 135px;
}

#Multidisciplinary_digital_desi {
	font-size: 25px;
	font-weight: bold;
	color: #5F6C7B;
	padding-top: 230px;
	margin-bottom: auto;
	padding-left: 30%;
}

/* body content */
.body_content {
	padding-left: 30%;
	padding-top: 4.68%;
	color: #5F6C7B;
	font-size: 18px;
	float: left;
	height: 15px;
}

#User_Interface {
	color: #EF4565;
	font-size: 20px;
	font-weight: bold;
	overflow: hidden;
    white-space: nowrap;
}

#User_Experience {
	color: #EF4565;
	font-size: 20px;
	font-weight: bold;
	padding-top: 2.68%;
	overflow: hidden;
    white-space: nowrap;
}

#Graphic_Desiging {
	color: #EF4565;
	font-size: 20px;
	font-weight: bold;
	padding-top: 4.68%;
	overflow: hidden;
    white-space: nowrap;
}

#Front-End {
	color: #EF4565;
	font-size: 20px;
	font-weight: bold;
	padding-top: 4.68%;
	overflow: hidden;
    white-space: nowrap;
}

#User_Interface_p {
	padding-right: 23.75%;
	padding-left: 4.68%;
	padding-top: 2.928%;
}

#User_Experience_p {
	padding-right: 23.75%;
	padding-left: 4.68%;
	padding-top: 6.588%;
}

#Graphic_Desiging_p {
	padding-right: 23.75%;
	padding-left: 4.68%;
	padding-top: 6.588%;
}

#Front-End_p {
	padding-right: 23.75%;
	padding-left: 4.68%;
	padding-top: 6.588%;
}
/* end of body content */

/* Projects Section */
.project_content {
	padding-left: 30%;
}
#Projects_section {
	padding-top: 650px;
	/* padding-left: 30%; */
	font-size: 28px;
	font-weight: bold;
	color: #094067;

}

/* mobile app desing block */
#mobile {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	/* padding-left: 30%; */
	padding-top: 1.68%;
	height: 32.60%;
	width: auto;
  }
  
  #mobile:hover {opacity: 0.7;}
  
  #graphics {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	padding-left: 17.65%;
	padding-top: 34.68%;
	height: 32.60%;
	width: auto;
  }
  
  #graphics:hover {opacity: 0.7;}

  #more {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	height: 32.60%;
	width: auto;
  }
  
  #more:hover {opacity: 0.7;}

  #show_more {
	  padding-left: 17.65%;
  }

/* typed style */
 #typed,
.typed-cursor {
  font-size: 55px;
  color: #094067;
  font-weight: bold;
  line-height: 60px;
}

  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* responsive screens */
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
	.modal-content {
	  width: 100%;
	}
  }


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

@viewport {
	width: device-width ;
	zoom: 1.0 ;
}

@keyframes caret {
	50% {
	  border-color: transparent;
	}
}

